#Ignore the VCS script, just cause I don't know if I'm allowed to share it

VCS4CMD.py
notvsc.py

#Ignore the .vex files, as they create issues

CompetitionTest.vex
2602G.vex
*.vex
CompetitionTest.vex
*.vex
*.vex
